@font-face {
  font-family: 'iconszzzz';
  src:  url('fonts/iconszzzz.eot?x7j6td');
  src:  url('fonts/iconszzzz.eot?x7j6td#iefix') format('embedded-opentype'),
    url('fonts/iconszzzz.ttf?x7j6td') format('truetype'),
    url('fonts/iconszzzz.woff?x7j6td') format('woff'),
    url('fonts/iconszzzz.svg?x7j6td#iconszzzz') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'iconszzzz' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-timeline:before {
  content: "\e900";
}
.icon-home3:before {
  content: "\e902";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-paste:before {
  content: "\e92d";
}
.icon-stack:before {
  content: "\e92e";
}
.icon-tags:before {
  content: "\e936";
}
.icon-barcode:before {
  content: "\e937";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-coin-dollar:before {
  content: "\e93b";
}
.icon-coin-euro:before {
  content: "\e93c";
}
.icon-bell:before {
  content: "\e951";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-bubble2:before {
  content: "\e96e";
}
.icon-users:before {
  content: "\e972";
}
.icon-search:before {
  content: "\e986";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-setting:before {
  content: "\e994";
}
.icon-health:before {
  content: "\e998";
}
.icon-stats-dots:before {
  content: "\e99b";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-trash:before {
  content: "\e9ac";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-tips:before {
  content: "\e9d4";
}
.icon-notification:before {
  content: "\ea08";
}
.icon-logout:before {
  content: "\ea14";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-ctrl:before {
  content: "\ea50";
}
.icon-filter:before {
  content: "\ea5b";
}
.icon-hangouts:before {
  content: "\ea8e";
}
