<div class="pt-4" >
  <button routerLink="../add" class="btn btn-primary mb-3">+Add</button>
  <button class="btn btn-info mb-3" (click)="displayoverlay()">filter</button>
  <table class="table table-hover shadow">
    <thead>
      <div class="example-list">
      <tr>
        <div class="example-box"> 
        <th scope="col">#</th>
        <th scope="col">firstname</th>
        <th scope="col">lastname</th>
        <th scope="col">email</th>
        <th scope="col">password</th>
        <th scope="col">age</th>
        <th scope="col">city</th>
        <th scope="col " colspan="2">actions</th>
      </div>
      </tr>
    </div>
    </thead>
    <tbody (cdkDropListDropped)="drop($event)" cdkDropList>
      <div class="example-list">
      <tr  class="align-middle" *ngFor="let item of mentorList" cdkDrag>
        <div class="example-box">
        <td>{{ item.id }}</td>
        <td>{{ item.firstname }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.password }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.city }}</td>
        <td >
             <button class="btn btn-info" (click)="edit(item.id)">edit</button>
             
            </td>
            <td>  
            <button class="btn btn-danger" (click)="onDelete(item.id)">
              delete
            </button>
          </td>
        </div>
      </tr>
      </div>
    </tbody>
  </table>
</div>

<!-- <figure class="pie-chart">
	
	
		<span style="color:#4e79a7"></span><br>
		<span style="color:#f28e2c"></span><br>
		<span style="color:#e15759"></span><br>
		<span style="color:#76b7b2"></span><br>
		<span style="color:#59a14f"></span><br>
		<span style="color:#edc949"></span>
	
	
</figure> -->

<canvas id="myChart" width="400" height="400"></canvas>