// Theme Colors
$primary: #145b69;
$white: #ffffff;
$success: #1eca1a;
$danger: #e43536;
$warning: #2093aa;
$info: #8d63d3;
$gray: #76969e;
$dark : #313131;
$light:#f9fafa;

$theme-green: $primary;

// Body
// $body-color: #000000;
$body-bg: #fafafa;

// Fonts
$text-muted: #9fa9bc;

// Sidebar
$sidebar-bg: #15181b;
$primary-nav-bg: #15181b;
$nav-text: $text-muted;
$nav-active-color: linear-gradient(to right, #252c39, #15181b);
$nav-active-text: $white;

// Header
$badge-bg: $success;

// Topbar
$topbar-bg: #16191c;

// Card
$card-bg: #2d353b;
$card-hover-bg: $primary;
$card-icon-color: $warning;
$card-text-sm-color: #595d69;

// Table
$table-header-bg: #354048;
$table-cell-border-color:#29314a;
$table-heading-color:#68707b;

$theme-colors: (
  "primary": $primary,
  "warning": $warning,
  "success": $success,
  "danger": $danger,
  "info": $info,
  "white": $white,
  "gray":$gray,
  "dark":$dark,
  "light":$light
);

$theme-list: (
  'default': $primary,
  'green': $warning,
  'blue': $success,
  'dark-blue': $success,
  'red': $success,
  'orange': $success,
)
