<form [formGroup]="filterForm" class="shadow p-3 bg-white">
      <div class="mb-3">
        <label for="exampleInputage1" class="form-label">age</label>
        <input type="age" class="form-control" id="exampleInputage1" formControlName="age">
      </div>
      <div class="mb-3">
        <label for="exampleInputcity1" class="form-label">city</label>
        <input type="city" class="form-control" id="exampleInputcity1" formControlName="city">
      </div>
      
      <button type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
      <button type="submit" class="btn btn-danger" (click)="onClose()">close</button>

</form>
