<!-- view-profile : start -->
<div class="bg-white user-profile rounded shadow h-100">
  <!-- info-section : start -->
  <div class="profile-info row mx-0 border-bottom">
    <div class="col-8 d-flex align-items-center">
      <div class="user-image rounded-circle border border-primary d-flex justify-content-center align-items-center me-5">

        <figure>
          <img
            src="../../../assets/images/user-with-tie-svgrepo-com.svg"
            alt="user" class="rounded"
          />
        </figure>
      </div>
      <div>
        <h2>Dr.Virat Dubey</h2>
        <h5 class="text-gray">General Physician</h5>
      </div>
    </div>
    <div class="col-4 d-flex align-items-center justify-content-end">
      <button class="btn btn-primary px-5 py-2">
        <span class="icon-filter text-white"></span> Edit Profile
      </button>
    </div>
  </div>
  <!-- info section : end -->
  <!-- profile-data : start -->
  <div class="profile-data row mx-0">
    <div class="col-10">
      <div class="row">
        <div class="col-4">
          <h4 class="text-gray mb-5 fs-5">Email</h4>
          <h4 class="text-gray mb-5 fs-5">Gender</h4>
          <h4 class="text-gray mb-5 fs-5">Mobile</h4>
          <h4 class="text-gray mb-5 fs-5">Date of Establishment</h4>
          <h4 class="text-gray mb-5 fs-5">Institue name</h4>
          <h4 class="text-gray mb-5 fs-5">Address</h4>
          <h4 class="text-gray mb-5 fs-5">State</h4>
          <h4 class="text-gray mb-5 fs-5">City</h4>
        </div>
        <div class="col-8">
          <h4 class="mb-5 fs-5">viratdubey@gmail.com</h4>
          <h4 class="mb-5 fs-5">Male</h4>
          <h4 class="mb-5 fs-5">9724677566</h4>
          <h4 class="mb-5 fs-5">12 August 2021</h4>
          <h4 class="mb-5 fs-5">Sunflower Hospital</h4>
          <h4 class="mb-5 fs-5">zaveri bajar</h4>
          <h4 class="mb-5 fs-5">Gujrat</h4>
          <h4 class="mb-5 fs-5">Surat</h4>
        </div>
      </div>
    </div>

    <div class="col-2">
      <h5 class="text-gray mb-2">Certificate Of Institue</h5>
      <div class="px-4 py-2 rounded bg-gray">

        <a href="">haal ma nathi</a>
      </div>
      <h5 class="text-gray mb-2">Certificate of Doctor</h5>
      <a href="">nathi kidhu ne</a>
    </div>
  </div>
  <div></div>
  <!-- profile-data : end -->
</div>
<!-- view-profile : end -->
